.CargarTabla{
    padding: 10px 20px;
    background-color: rgb(28, 146, 214);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    outline: none;
    color: white;   
}


